#topo {
	border: 1px solid;
	border-color:#CCC;
	position:absolute;
	left:18px;
	top:3px;
	width:822px;
	height:117px;
	z-index:1;
	color: #FFF;
	background-color: #FAFAFA;
}

#tudo #topo #dados-user a {
	color: #F00;
	font-family: Arial, Helvetica, sans-serif;
}

#menu {
	border: 1px solid;
	border-color:#CCC;
	background-color:#0297EC;
	position:absolute;
	left:16px;
	top:26px;
	width:790px;
	height:37px;
	z-index:2;
	color: #FFF;
	}
#menu-user {
	border: 1px solid;
	border-color:#CCC;
	position:absolute;
	left:16px;
	top:26px;
	width:790px;
	height:37px;
	z-index:2;
	
	}

#menu #MenuBar1 li ul li a {
	font-family: Arial, Helvetica, sans-serif;
}

#body {
	border: 1px solid;
	border-color:#CCC;
	background: #FAFAFA;
	position:absolute;
	left:18px;
	top:115px;
	width:822px;
	height:572px;
	z-index:1;
	text-align: left;
	color: #00C;
	font-family: Arial, Helvetica, sans-serif;
}

#titulo {
	border: 1px solid;
	border-color:#CCC;
	position:absolute;
	left:331px;
	top:10px;
	width:471px;
	height:75px;
	z-index:1;
	background-color: #0297EC;
}
#titulo p {
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFF;
}

#tudo{
	position:absolute;
	left:170px;
	top:3px;
	width:855px;
	height: 757px;
	}	

#rodape{
	background:#CCC;
	position:absolute;
	bottom: 10px;
	width: 823px;
	height: 41px;
	left: 19px;
	font-family: Arial, Helvetica, sans-serif;
	}
#tudo #rodape p {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: smaller;
}
#dados-user {
	vertical-align:middle;
	position:absolute;
	text-align:center;
	left:334px;
	top:91px;
	width:466px;
	height:25px;
	z-index:1;
	color: #03F;
}

#logo {
	background-repeat:no-repeat;
	background-image:url(../images/logo.png);
	position:absolute;
	left:15px;
	top:7px;
	width:296px;
	height:105px;
	z-index:1;
}

#info {
	background-color:#FFF;
	position:absolute;
	left:16px;
	top:70px;
	width:786px;
	height:457px;
	
}

#texto {
	position:absolute;
	left:5px;
	top:4px;
	width:577px;
	height:31px;
	z-index:1;
	font-weight: bold;
	text-align: left;
}
.texto_p {
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFF;
}
#tudo #body #info #form1 labels {
	color: #0297EC;
}
#tudo #body #info #form1 fieldset {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
#tudo #body #info #form1 fieldset legend {
	color: #000;
}
#tudo #body #info #form1 fieldset #pnome {
	color: #000;
}
#tudo #body #info #form1 fieldset label {
	color: #000;
}


#link-home {
	position:absolute;
	left:18px;
	top:4px;
	width:121px;
	height:16px;
	z-index:1;
	color: #0000CC;
	font-weight: bold;
}

#tudo #body #link-home a {
	color: #0033FF;
	font-size: 16px;
	font-weight: normal;
}
#tudo #body-consulta #link-home a {
	color: #0033FF;
	font-size: 16px;
	font-weight: normal;
}
#pnome-campo {
	position:absolute;
	left:225px;
	top:15px;
	width:141px;
	height:19px;
	z-index:1;
	font-weight: normal;
	color: #000;
}
#apDiv1 {
	position:absolute;
	left:119px;
	top:20px;
	width:141px;
	height:20px;
	z-index:1;
}
#cad-user-codigo {
	position:absolute;
	left:547px;
	top:20px;
	width:176px;
	height:26px;
	z-index:1;
}
#cad-user-nome {
	position:absolute;
	left:129px;
	top:52px;
	width:610px;
	height:25px;
	z-index:1;
}
#cad-user-tipo {
	position:absolute;
	left:56px;
	top:22px;
	width:480px;
	height:22px;
	z-index:1;
	color: #00F;
}
#cad-user-telefone {
	position:absolute;
	left:118px;
	top:318px;
	width:226px;
	height:32px;
	z-index:1;
}
#cad-user-uf {
	position:absolute;
	left:528px;
	top:290px;
	width:224px;
	height:27px;
	z-index:1;
}
#cad-user-nro {
	position:absolute;
	left:495px;
	top:231px;
	width:157px;
	height:0px;
	z-index:1;
}
#cad-user-end-rua {
	position:absolute;
	left:145px;
	top:194px;
	width:451px;
	height:22px;
	z-index:1;
}
#cad-user-email {
	position:absolute;
	left:122px;
	top:113px;
	width:331px;
	height:16px;
	z-index:1;
}
#cad-user-sobrenome {
	position:absolute;
	left:85px;
	top:86px;
	width:444px;
	height:17px;
	z-index:1;
}
#cad-user-end-cep {
	position:absolute;
	left:516px;
	top:258px;
	width:189px;
	height:19px;
	z-index:1;
}
#cad-user-end-bairro {
	position:absolute;
	left:131px;
	top:292px;
	width:212px;
	height:20px;
	z-index:1;
}
#cad-user-cidade {
	position:absolute;
	left:497px;
	top:321px;
	width:315px;
	height:25px;
	z-index:1;
}
#cad-user-sexo {
	position:absolute;
	left:127px;
	top:178px;
	width:300px;
	height:23px;
	z-index:1;
}
#cad-user-end-comp {
	position:absolute;
	left:76px;
	top:258px;
	width:436px;
	height:20px;
	z-index:1;
}
#cad-user-dt-nasc {
	position:absolute;
	left:28px;
	top:143px;
	width:420px;
	height:23px;
	z-index:1;
}
#btn-cad-user-confirm {
	position:absolute;
	left:424px;
	top:461px;
	width:114px;
	height:41px;
	z-index:1;
}

#btn-cad-user-cancel {
	position:absolute;
	left:179px;
	top:459px;
	width:125px;
	height:42px;
	z-index:1;
}
.cadastro {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
#nomeArea {
	position:absolute;
	left:133px;
	top:55px;
	width: 588px;
	height: 48px;
}

#btn-cancelar-cad-area {
	position:absolute;
	left:113px;
	top:66px;
	width:86px;
	height:32px;
	z-index:1;
}
#btn-confirm-cad-area {
	position:absolute;
	left:249px;
	top:66px;
	width:79px;
	height:28px;
	z-index:1;
}
#cad-assunto {
	position:absolute;
	left:130px;
	top:102px;
	width:489px;
	height:30px;
	z-index:1;
}
#btn-cancelar-cad-assu {
	position:absolute;
	left:269px;
	top:156px;
	width:100px;
	height:37px;
	z-index:1;
}
#btn-confirmar-cad-assu{
	position:absolute;
	left:389px;
	top:157px;
	width:91px;
	height:39px;
	z-index:1;
}

#cad-disciplina {
	position:absolute;
	left:117px;
	top:96px;
	width:420px;
	height:39px;
	z-index:1;
}
#btn-cancelar-cad-disc {
	position:absolute;
	left:263px;
	top:156px;
	width:100px;
	height:37px;
	z-index:1;
}
#btn-confirm-cad-disc{
	position:absolute;
	left:383px;
	top:157px;
	width:91px;
	height:39px;
	z-index:1;
}

#cad-questao-area {
	position:absolute;
	left:92px;
	top:24px;
	width:311px;
	height:28px;
	}
#cad-questao-disciplina {
	position:absolute;
	left:465px;
	top:21px;
	width:282px;
	height:34px;
	z-index:1;
}
#cad-questao-assunto {
	position:absolute;
	left:71px;
	top:65px;
	width:279px;
	height:26px;
	z-index:3;
}
#cad-questao-enun {
	position:absolute;
	left:113px;
	top:92px;
	width:561px;
	height:103px;
	z-index:1;
}
#cad-questao-op1 {
	position:absolute;
	left:113px;
	top:213px;
	width:595px;
	height:24px;
	z-index:1;
}
#cad-questao-op2 {
	position:absolute;
	left:113px;
	top:250px;
	width:595px;
	height:23px;
	z-index:1;
}
#cad-questao-op3 {
	position:absolute;
	left:114px;
	top:283px;
	width:589px;
	height:24px;
	z-index:1;
}
#cad-questao-op4 {
	position:absolute;
	left:115px;
	top:319px;
	width:588px;
	height:24px;
	z-index:1;
}
#cad-questao-op5 {
	position:absolute;
	left:113px;
	top:357px;
	width:588px;
	height:20px;
	z-index:1;
}
#cad-questao-opCorreta {
	position:absolute;
	left:6px;
	top:410px;
	width:353px;
	height:28px;
	z-index:1;
}
#cad-questao-dificuldade {
	position:absolute;
	left:370px;
	top:408px;
	width:376px;
	height:32px;
	z-index:11;
}
#btn-confirm-cad-ques {
	position:absolute;
	left:405px;
	top:460px;
	width:131px;
	height:33px;
	z-index:1;
}
#btn-cancel-cad-ques {
	position:absolute;
	left:190px;
	top:460px;
	width:138px;
	height:30px;
	z-index:1;
}
#btn-cons-user-area {
	position:absolute;
	left:281px;
	top:14px;
	width:79px;
	height:28px;
	z-index:1;
}
#busca-user {
	position:absolute;
	left:60px;
	top:44px;
	width:99px;
	height:22px;
	z-index:1;
	font-size: 12px;
}
#teste-area {
	position:absolute;
	left:136px;
	top:22px;
	width:216px;
	height:24px;
	z-index:1;
}
#teste-disciplina {
	position:absolute;
	left:404px;
	top:23px;
	width:282px;
	height:34px;
	z-index:1;
}
#teste-assunto {
	position:absolute;
	left:114px;
	top:66px;
	width:279px;
	height:26px;
	z-index:1;
}
#teste-enun {
	background-color:ffffff; 
    border-style:solid; 
    border-color:ffffff; 
    border-width:0px;
    font-family:arial;
    font-size:12pt;
    text-align: left;
}
#teste-op1 {
	position:absolute;
	left:1px;
	top:94px;
	width:665px;
	height:35px;
	z-index:1;
}
#teste-op2 {
	position:absolute;
	left:1px;
	top:150px;
	width:664px;
	height:30px;
	z-index:1;
}
#teste-op3 {
	position:absolute;
	left:1px;
	top:199px;
	width:664px;
	height:31px;
	z-index:1;
}
#teste-op4 {
	position:absolute;
	left:1px;
	top:246px;
	width:663px;
	height:29px;
	z-index:1;
}
#teste-op5 {
	position:absolute;
	left:1px;
	top:296px;
	width:668px;
	height:30px;
	z-index:1;
}
#teste-opCorreta {
	position:absolute;
	left:6px;
	top:410px;
	width:353px;
	height:28px;
	z-index:1;
}
#teste-dificuldade {
	position:absolute;
	left:370px;
	top:408px;
	width:376px;
	height:32px;
	z-index:1;
}

#teste-nova-questao{
	position:absolute;
	left:314px;
	top:423px;
	width:131px;
	height:33px;
	z-index:1;
}
#teste-nova{
	position:absolute;
	left:655px;
	top:420px;
	width:131px;
	height:33px;
	z-index:1;
}
#teste-cancela {
	position:absolute;
	left:10px;
	top:424px;
	width:138px;
	height:30px;
	z-index:1;
}
#prova-area {
	position:absolute;
	left:135px;
	top:22px;
	width:216px;
	height:24px;
	z-index:1;
}
#prova-disciplina {
	position:absolute;
	left:101px;
	top:58px;
	width:282px;
	height:34px;
	z-index:1;
}
#prova-assunto {
	position:absolute;
	left:114px;
	top:95px;
	width:279px;
	height:26px;
	z-index:1;
}
#prova-dificuldade {
	position:absolute;
	left:32px;
	top:132px;
	width:363px;
	height:32px;
	z-index:1;
}
#btn-confirm-ques-prova {
	position:absolute;
	left:212px;
	top:223px;
	width:130px;
	height:36px;
	z-index:1;
}
#btn-cancelar-prova {
	position:absolute;
	left:36px;
	top:224px;
	width:130px;
	height:30px;
	z-index:1;
}
#prova-nro-ques {
	position:absolute;
	left:26px;
	top:168px;
	width:372px;
	height:30px;
	z-index:1;
}
#consulta-codigo {
	position:absolute;
	left:547px;
	top:20px;
	width:176px;
	height:26px;
	z-index:1;
}
#btn-nova-busca {
	position:absolute;
	left:681px;
	top:394px;
	width:104px;
	height:36px;
	z-index:1;
}

#consulta-nome {
	position:absolute;
	left:126px;
	top:55px;
	width:208px;
	height:25px;
	z-index:1;
}
#consulta-tipo {
	position:absolute;
	left:51px;
	top:22px;
	width:480px;
	height:22px;
	z-index:1;
	color: #000;
}
#consulta-telefone {
	position:absolute;
	left:115px;
	top:352px;
	width:198px;
	height:20px;
	z-index:1;
}
#consulta-uf {
	position:absolute;
	left:635px;
	top:286px;
	width:73px;
	height:23px;
	z-index:1;
}
#consulta-end-nro {
	position:absolute;
	left:603px;
	top:230px;
	width:157px;
	height:0px;
	z-index:1;
}
#consulta-end-rua {
	position:absolute;
	left:145px;
	top:194px;
	width:451px;
	height:22px;
	z-index:1;
}
#consulta-email {
	position:absolute;
	left:123px;
	top:113px;
	width:331px;
	height:16px;
	z-index:1;
}
#consulta-sobrenome {
	position:absolute;
	left:86px;
	top:86px;
	width:299px;
	height:17px;
	z-index:8;
}
#consulta-cep {
	position:absolute;
	left:624px;
	top:257px;
	width:189px;
	height:19px;
	z-index:1;
}
#consulta-bairro {
	position:absolute;
	left:131px;
	top:321px;
	width:394px;
	height:20px;
	z-index:1;
}
#consulta-cidade {
	position:absolute;
	left:124px;
	top:291px;
	width:389px;
	height:19px;
	z-index:1;
}
#consulta-sexo {
	position:absolute;
	left:127px;
	top:178px;
	width:300px;
	height:23px;
	z-index:1;
}
#consulta-end-comp {
	position:absolute;
	left:77px;
	top:258px;
	width:436px;
	height:20px;
	z-index:1;
}
#consulta-dt-nasc {
	position:absolute;
	left:28px;
	top:143px;
	width:420px;
	height:23px;
	z-index:1;
}
#nomeDisc {
	position:absolute;
	left:98px;
	top:57px;
	width: 652px;
	height: 28px;
}
#tudo #body #link-home a {
	color: #0033FF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

#options ul {
	list-style: none;
}

#options ul li {
	margin-top: 10px;
}

.wrong_answer {
	width:665px;
	height:35px;
	z-index:1;
	background-color: red;
}

.right_answer {
	width:665px;
	height:35px;
	z-index:1;
	background-color: green;
}
